<footer class="foter bg-black " >
    <div class="container">
        <div class="finsh d-flex justify-content-between align-items-center ">
            <a class="navbar-brand text-white" href="#"><img src="../assets\images\2.png" alt="">
                <span> Personal</span></a>
                <div class="info d-flex flex-column">
                    <span> @ 2019-2023 Personal </span>
                    <a href="#">Made In Figma  </a>
                </div>
        </div>
    </div>
</footer>